#naviBar {
    min-height: 100%;
    height:auto !important;
    height:100%;
    width: 5%;
	width: auto !important;
	min-width: 5.9375rem;
	max-width: 5%;
    float: left;
    background-color: #3eb7c9;
}

body {
    margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 937px;
}

html, body {
  height:100%;
  font-family: Open Sans;
}

#naviButtons {
    font-size: 30px;
    list-style: none;
    color: #216670;
    padding: inherit;
}

#calendarIcon {
	border-top-style: solid;
	border-top-width: 0.5px;
}

#appointmentIcon {
	border-top-style: solid;
	border-top-width: 0.5px;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#pollIcon {
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#naviButtons i {
	font-size: 160%;
	color: #216670;
	background-color: transparent;
	border: none;
	margin: 1rem;
}

#naviButtons i:hover {
	font-size: 160%;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 1rem;
}

#naviButtons li {
	text-align: center;
}

#lastIconListElement {
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#accountLogo {
	border-radius: 50%;
	padding: 0.5625rem;
	margin-left: 1.5625rem;
	margin-top: -2rem;
	color: #216670;
	background-color: #2e97a6;
	text-align: center;
	font-size: 225%;
}

#logOutIconDiv {
    margin-left: 1rem;
    margin-top: 26em;
    color: #216670;
    text-align: center;
    margin-right: 1rem;
	position: sticky;
}

#logOutIcon {
     font-size: 33px;
	transform: scale(-1);
}

#logOutIcon label {
    font-family: Open Sans;
    font-size:50%;
}

#topBar {
    min-height: 8%;
    height: auto !important;
    height: 8%;
    width: 100%;
    background-color: #3f4d4f;
}

.buttonClicked {
	border-color: white !important;
	background-color: #45c9de;
}

.buttonClicked i {
	color: white !important;
}

#currentTabText {
	margin-left: 1rem;
	color: white;
	font-family: Open Sans;
	font-size: xx-large;
}

#mainContent {
	width: auto !important;
	min-width: 95%;
	width: 100%;
	height: auto !important;
	height: 92%;
	min-height: 92%;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 1em;
	height: 2em;
}

#contentTobBarWrapper {
	height: 100%;
	min-height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: column;
}
