#naviBar {
    min-height: 100%;
    height:auto !important;
    height:100%;
    width: 5%;
    float: left;
    background-color: #3eb7c9;
    min-width: -moz-min-content;
	padding-bottom: 0.53125em;
}

body {
    margin: 0;
}

html, body {
  height:100%;
  font-family: Open Sans;
}

#naviButtons {
    font-size: 30px;
    list-style: none;
    color: #216670;
    padding: inherit;
}

#calendarIcon {
	border-top-style: solid;
	border-top-width: 0.5px;
}

#appointmentIcon {
	border-top-style: solid;
	border-top-width: 0.5px;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#pollIcon {
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#naviButtons i {
	font-size: 160%;
	color: #216670;
	background-color: transparent;
	border: none;
	margin: 1rem;
}

#naviButtons i:hover {
	font-size: 160%;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 1rem;
}

#naviButtons li {
	text-align: center;
}

#lastIconListElement {
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}

#accountLogo {
    border-radius: 100%;
    width: 50%;
    margin-left: 1.5em;
    margin-top: -2em;
	color: white;
}

#logOutIconDiv {
    margin-left: 1rem;
    margin-top: 26em;
    color: #216670;
    text-align: center;
    margin-right: 1rem;
}

#logOutIcon {
     font-size: 33px;
	transform: scale(-1);
}

#logOutIcon label {
    font-family: Open Sans;
    font-size:50%;
}

#topBar {
    min-height: 13%;
    height: auto !important;
    height: 13%;
    width: 95%;
    background-color: #38a5b5;
    margin-left: 5%;
}

.buttonClicked {
	border-color: white !important;
	background-color: #45c9de;
}

.buttonClicked i {
	color: white !important;
}

#currentTabText {
	margin-left: 1rem;
	color: white;
	font-family: Open Sans;
	font-size: xx-large;
}

#mainContent {
	width: 95%;
	margin-left: 5%;
	margin-top: 0.8rem;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 1em;
	height: 2em;
}
